<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<h1>Admin, welcome to admins spring boot security page!</h1>
<h1>List of users:</h1>
<br/><br/>
<div>
  <table border = "1">
    <tr>
      <th>Id</th>
      <th>Username</th>
      <th>Password</th>
      <th>Age</th>
      <th>Roles</th>

    </tr>
    <tr th:each="user : ${users}">
      <td th:utext="${user.id}">...</td>
      <td th:utext="${user.username}">...</td>
      <td th:utext="${user.password}">...</td>
      <td th:utext="${user.age}">...</td>
      <td th:utext="${user.roles}">...</td>

      <td><a th:href="@{admin/edit/{id}(id=${user.id})}">Edit</a></td>
      <td><a th:href="@{admin/delete/{id}(id=${user.id})}">Delete</a></td>
    </tr>
  </table>
</div>
<p><a href="/admin/create">Create user</a></p>
<p><a href="/logout">Logout</a></p>
<body>

</body>
</html>