<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/create/}" th:object="${user}">
    <div>
        <label for="username">Username</label>
        <input type="text" th:field="*{username}" id="username"/>
        <br/>
        <label for="password">Password</label>
        <input type="text" th:field="*{password}" id="password"/>
        <br/>
        <label for="age">Age</label>
        <input type="text" th:field="*{age}" id="age"/>
        <br/>
        <label for="roleAdmin">Roles</label>
        <input type="checkbox" th:field="*{roles}" th:text="ADMIN" th:value="${roleAdmin.getId()}" id="roleAdmin"/>
        <label for="roleUser"></label>
        <input type="checkbox" th:field="*{roles}" th:text="USER" th:value="${roleUser.getId()}" id="roleUser"/>
        <input type="submit" value="Create user"/>
    </div>
</form>
</body>
</html>